//Font Family
$robotofont: 'Roboto', sans-serif;

//Font Size
$txt-size-h1: 24px;
$txt-size-h2: 22px;
$txt-size-h3: 20px;
$txt-size-h4: 18px;
$txt-size-h5: 16px;
$txt-size-h6: 15px;
$txt-size-h7: 14px;
$txt-size-h8: 12px;
$txt-size-h9: 10px;
$txt-size-32: 32px;
$txt-size-48: 48px;
$txt-size-72: 72px;
//Color
$txt-color-white: #ffffff;
$txt-color-black2: #333333;
$txt-color-black: #1A1A1A;
$txt-color-secondary: #707070;
$txt-color-gray: rgba(0,0,0,0.45);
$txt-color-gray2: #bdbdbd;
$txt-color-gray3: #F2F2F2;
$txt-color-gray4: #707070;
$txt-color-red: #F5222D;
$txt-color-require: #ff4d4f;
$txt-color-orange: #F59F32;
$txt-color-blue: #096DD9;
$txt-color-blue2: #001A4B;
$txt-color-green: #09B2AA;
$txt-color-only-staff: #0F98B1;
$txt-color-primary: #F59F32;
$txt-color-order-detail: #F9A400;
$txt-color-order-finance: #FFF7EE;
$txt-color-yellow: #edee0a;

//Background Color
$bg-color-primary: #F59F32;
$bg-color-white: #ffffff;
$bg-color-yellow: #FFFBE6;
$bg-color-blue: #0082c8;
$bg-color-blue2: #E6F7FF;
$bg-color-blue3: #A6DBFF;
$bg-color-gray: #f0f2f5;
$bg-color-gray2: #D9D9D9;
$bg-color-gray3: #F2F2F2;
$bg-color-dark: #011d57;
$bg-color-green: #09B2AA;
$bg-color-black: #000000;
$bg-color-orange: #FFEDEF;
$bg-color-blue4: #DDF0FF;
$bg-color-blue5: #09B8AF;
$bg-color-pink:#FFF7EE;;
$bg-color-pink2:#FFF6E5;
